body {
    background-color: lightblue;
}

.chat-container {
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid black;
    // display: table;

    .chat-container {
        display: inline-block;
    }
}
.chat-message {
    list-style: none;
}

.chatInput {
    border: 2px solid black;
}